<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>Welcome to our Forum!</h2>
        <h4> Please login </h4>
          
        <form action="/controllers/authenticate-controller" method="POST">

        Email: <input type="text" name="email">
        Password: <input type="password" name="password">

        <input type="submit" value="Submit">
        </form>

        <h4> Don't have an account no worries...Sign up here! </h4>
        <form action="/api/users" method="POST">  First Name: <input type="text" name="name" id="name">  Email: <input type="text" name="email" id="email">Paswword: <input type="password" name="password" id="password">
        <input type="submit" value="Submit" id="submit-reg">  
        </form>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/users.js"></script>
