{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
   
        <h2>Enter a new Post</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" aria-describedby="title" placeholder="Enter Title Here">
          </div>
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" id="body" aria-describedby="body" placeholder="Enter Body Text Here"></textarea>
          </div>
          <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" class="form-control" aria-describedby="category" placeholder="Enter Category Here">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
